<img src="{{ fields.uri.content|naked_field }}">
<h2 class="text-center">{{ fields.title.content|naked_field }}</h2>
<p class="text-center large xl-responsive">{{ fields.field_marketing_body.content|naked_field|raw }}</p>
<p class="text-center normal l-responsive">{{ fields.field_marketing_body.content|naked_field|raw }}</p>
<p class="text-center"><a href="{{ fields.field_marketing_link.content|naked_field|split(':')[1] }}" class="btn btn-lg btn-all btn-default {{ fields.field_marketing_button_color.content|naked_field }}">{{ fields.field_marketing_link_1.content|naked_field }}</a></p>
